workflows/fathom-transcript-poller.json
{
  "id": "2",
  "name": "Fathom Transcript Poller",
  "nodes": [
    {
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Code: Read Last Poll Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst pollFile = '/home/node/.n8n/fathom-last-poll.txt';\nlet lastPoll;\ntry {\n  lastPoll = fs.readFileSync(pollFile, 'utf8').trim();\n} catch (e) {\n  const d = new Date();\n  d.setHours(d.getHours() - 24);\n  lastPoll = d.toISOString();\n}\nreturn { json: { lastPoll } };"
      }
    },
    {
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "HTTP Request: List Meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.fathom.ai/external/v1/meetings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "created_after",
              "value": "={{ $json.lastPoll }}"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "Fathom API Key"
        }
      }
    },
    {
      "id": "b1000000-0000-4000-8000-000000000004",
      "name": "Code: Check for New Recordings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const items = $json.items || [];\nif (items.length === 0) {\n  return [];\n}\nreturn items.map(meeting => ({\n  json: {\n    recording_id: meeting.recording_id,\n    title: meeting.title,\n    recording_start_time: meeting.recording_start_time,\n    recording_end_time: meeting.recording_end_time\n  }\n}));"
      }
    },
    {
      "id": "b1000000-0000-4000-8000-000000000005",
      "name": "HTTP Request: Fetch Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.fathom.ai/external/v1/recordings/{{ $json.recording_id }}/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "Fathom API Key"
        }
      }
    },
    {
      "id": "b1000000-0000-4000-8000-000000000006",
      "name": "Code: Format and Save Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst transcript = $json.transcript || [];\nconst startTime = $('Code: Check for New Recordings').item.json.recording_start_time;\nconst datePrefix = startTime.substring(0, 10);\n\nconst formatted = transcript.map(entry => {\n  const speaker = entry.speaker?.display_name || 'Unknown';\n  const timestamp = entry.timestamp || '00:00:00';\n  return `[${timestamp}] ${speaker}: ${entry.text}`;\n}).join('\\n');\n\nconst filename = `${datePrefix}-transcript.txt`;\nconst filePath = `/home/node/watch/${filename}`;\nfs.writeFileSync(filePath, formatted, 'utf8');\n\nconst chatFile = `/home/node/watch/${datePrefix}-zoom-chat.txt`;\nconst bothPresent = fs.existsSync(chatFile);\n\nreturn {\n  json: {\n    datePrefix,\n    transcriptFile: filePath,\n    chatFile,\n    bothPresent,\n    formatted\n  }\n};"
      }
    },
    {
      "id": "b1000000-0000-4000-8000-000000000007",
      "name": "IF: Both Files Present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.bothPresent }}",
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "b1000000-0000-4000-8000-000000000008",
      "name": "Execute Workflow: Trigger Summarizer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1750, 200],
      "parameters": {
        "source": "parameter",
        "workflowId": "5",
        "options": {}
      }
    },
    {
      "id": "b1000000-0000-4000-8000-000000000009",
      "name": "Code: Update Last Poll Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 400],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst pollFile = '/home/node/.n8n/fathom-last-poll.txt';\nfs.writeFileSync(pollFile, new Date().toISOString(), 'utf8');\nreturn { json: { updated: true } };"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code: Read Last Poll Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Read Last Poll Time": {
      "main": [
        [
          {
            "node": "HTTP Request: List Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: List Meetings": {
      "main": [
        [
          {
            "node": "Code: Check for New Recordings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Check for New Recordings": {
      "main": [
        [
          {
            "node": "HTTP Request: Fetch Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Fetch Transcript": {
      "main": [
        [
          {
            "node": "Code: Format and Save Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format and Save Transcript": {
      "main": [
        [
          {
            "node": "IF: Both Files Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Both Files Present": {
      "main": [
        [
          {
            "node": "Execute Workflow: Trigger Summarizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Update Last Poll Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow: Trigger Summarizer": {
      "main": [
        [
          {
            "node": "Code: Update Last Poll Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
