workflows/fathom-fetch-transcript.json
{
  "id": "4",
  "name": "Fathom: Fetch Transcript",
  "nodes": [
    {
      "id": "d1000000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "d1000000-0000-4000-8000-000000000002",
      "name": "Code: Set Recording ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "jsCode": "// ╔══════════════════════════════════════════╗\n// ║  CHANGE THESE VALUES BEFORE RUNNING        ║\n// ║  Get them from \"Fathom: List Recordings\"  ║\n// ╚══════════════════════════════════════════╝\nconst recordingId = 12345;\nconst targetDate = '2025-09-02';\n\nreturn {\n  json: {\n    recordingId,\n    targetDate,\n    createdAfter: `${targetDate}T00:00:00Z`,\n    createdBefore: `${targetDate}T23:59:59Z`\n  }\n};"
      }
    },
    {
      "id": "d1000000-0000-4000-8000-000000000003",
      "name": "HTTP Request: Get Meeting Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.fathom.ai/external/v1/meetings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "created_after", "value": "={{ $json.createdAfter }}" },
            { "name": "created_before", "value": "={{ $json.createdBefore }}" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "Fathom API Key"
        }
      }
    },
    {
      "id": "d1000000-0000-4000-8000-000000000004",
      "name": "Code: Find Meeting and Extract Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const recordingId = String($('Code: Set Recording ID').item.json.recordingId);\nconst meetings = $json.items || [];\nconst meeting = meetings.find(m => String(m.recording_id) === recordingId);\n\nif (!meeting) {\n  throw new Error(`Meeting with recording_id ${recordingId} not found. Available IDs: ${meetings.map(m => m.recording_id).join(', ')}`);\n}\n\nreturn {\n  json: {\n    recordingId: meeting.recording_id,\n    datePrefix: meeting.recording_start_time.substring(0, 10),\n    title: meeting.title || meeting.meeting_title || 'Untitled',\n    recording_start_time: meeting.recording_start_time\n  }\n};"
      }
    },
    {
      "id": "d1000000-0000-4000-8000-000000000005",
      "name": "HTTP Request: Fetch Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.fathom.ai/external/v1/recordings/{{ $json.recordingId }}/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "Fathom API Key"
        }
      }
    },
    {
      "id": "d1000000-0000-4000-8000-000000000006",
      "name": "Code: Format and Save Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst transcript = $json.transcript || [];\nconst datePrefix = $('Code: Find Meeting and Extract Date').item.json.datePrefix;\n\nconst formatted = transcript.map(entry => {\n  const speaker = entry.speaker?.display_name || 'Unknown';\n  const timestamp = entry.timestamp || '00:00:00';\n  return `[${timestamp}] ${speaker}: ${entry.text}`;\n}).join('\\n');\n\nconst filename = `${datePrefix}-transcript.txt`;\nconst filePath = `/home/node/watch/${filename}`;\nfs.writeFileSync(filePath, formatted, 'utf8');\n\nconst chatFile = `/home/node/watch/${datePrefix}-zoom-chat.txt`;\nconst bothPresent = fs.existsSync(chatFile);\n\nreturn {\n  json: {\n    datePrefix,\n    transcriptFile: filePath,\n    chatFile,\n    bothPresent,\n    message: bothPresent\n      ? `Transcript saved. Chat log found — ready for merge!`\n      : `Transcript saved. Waiting for chat log: ${chatFile}`\n  }\n};"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Code: Set Recording ID", "type": "main", "index": 0 }]]
    },
    "Code: Set Recording ID": {
      "main": [[{ "node": "HTTP Request: Get Meeting Details", "type": "main", "index": 0 }]]
    },
    "HTTP Request: Get Meeting Details": {
      "main": [[{ "node": "Code: Find Meeting and Extract Date", "type": "main", "index": 0 }]]
    },
    "Code: Find Meeting and Extract Date": {
      "main": [[{ "node": "HTTP Request: Fetch Transcript", "type": "main", "index": 0 }]]
    },
    "HTTP Request: Fetch Transcript": {
      "main": [[{ "node": "Code: Format and Save Transcript", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "tags": []
}