workflows/merged-call-summarizer.json
{
  "id": "5",
  "name": "Merged Call Summarizer",
  "nodes": [
    {
      "id": "e1000000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "e1000000-0000-4000-8000-000000000002",
      "name": "Code: Validate and Check Partner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst watchDir = '/home/node/watch';\n\n// Find all date prefixes that have both a chat and transcript file\nconst files = fs.readdirSync(watchDir);\nconst dateMap = {};\nfor (const f of files) {\n  const m = f.match(/^(\\d{4}-\\d{2}-\\d{2})/);\n  if (!m) continue;\n  const date = m[1];\n  if (!dateMap[date]) dateMap[date] = {};\n  if (f.includes('-zoom-chat') && f.endsWith('.txt')) dateMap[date].chat = f;\n  if (f.includes('-transcript') && f.endsWith('.txt')) dateMap[date].transcript = f;\n}\n\n// Pick the most recent date that has both files\nconst complete = Object.entries(dateMap)\n  .filter(([, v]) => v.chat && v.transcript)\n  .sort(([a], [b]) => b.localeCompare(a));\n\nif (complete.length === 0) {\n  throw new Error('No complete file pairs found in watch directory (need both YYYY-MM-DD-zoom-chat.txt and YYYY-MM-DD-transcript.txt)');\n}\n\nconst [datePrefix, { chat, transcript }] = complete[0];\nconst chatFile = `${watchDir}/${chat}`;\nconst transcriptFile = `${watchDir}/${transcript}`;\n\nconst chatText = fs.readFileSync(chatFile, 'utf8');\nconst transcriptText = fs.readFileSync(transcriptFile, 'utf8');\n\nreturn {\n  json: {\n    datePrefix,\n    chatText,\n    transcriptText,\n    chatFile,\n    transcriptFile\n  }\n};"
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000003",
      "name": "Code: Merge Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const mergedText = `# MEETING TRANSCRIPT\\n\\n${$json.transcriptText}\\n\\n# ZOOM CHAT LOG\\n\\n${$json.chatText}`;\n\nreturn {\n  json: {\n    ...$json,\n    mergedText\n  }\n};"
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000004",
      "name": "Code: Create Output Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst datePrefix = $json.datePrefix;\nconst outputDir = `/home/node/output/${datePrefix}`;\nif (!fs.existsSync(outputDir)) {\n  fs.mkdirSync(outputDir, { recursive: true });\n}\nreturn { json: { ...$json, outputDir } };"
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000005",
      "name": "Code: Save transcript.txt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst outputDir = $json.outputDir;\nfs.writeFileSync(`${outputDir}/transcript.txt`, $json.transcriptText, 'utf8');\nreturn { json: { ...$json } };"
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000006",
      "name": "LLM: Extract Signal",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1250, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mergedText }}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are analysing a merged coaching-call transcript (chat log + spoken transcript). Extract the signal — the information that would help a future reader understand what was discussed, who said what, and what artefacts or resources were referenced.\n\nEmit a markdown document with exactly six H2 sections, in the order listed below. Every heading must be the literal lowercase single-word slug shown. Do not invent new sections. Omit a section entirely if there is no content for it.\n\n## general\n\nA 2–4 paragraph narrative overview of what the session covered. Factual, not promotional. Capture the main throughline, which projects/topics came up, and who presented.\n\n## insights\n\nBullet points of the most valuable takeaways, patterns, or heuristics surfaced during the call. Each bullet is self-contained (understandable without the surrounding context). Attribute the speaker when it matters.\n\n## qa\n\nPairs of questions and answers. Format:\n**Q (Questioner):** ...\n**A (Answerer):** ...\n\nInclude only Q/A exchanges where both sides had real content — skip throwaway clarifying questions.\n\n## tools\n\nBullet list of tools, products, frameworks, platforms, or services that were mentioned or demonstrated. One line per tool. Include a 5–15 word note on the context in which it came up.\n\n## links\n\nBullet list of URLs, repositories, documents, or external resources shared during the call. One line per resource. Include a brief descriptor.\n\n## decisions\n\nBullet list of commitments, action items, or decisions made during the call — things someone said they would do, or that the group agreed on. Phrase each as an actor + action.\n\nCRITICAL: output the sections in EXACTLY this order: general, insights, qa, tools, links, decisions. Do not re-order, do not merge, do not rename. Use lowercase single-word slugs as shown."
            }
          ]
        }
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000007",
      "name": "OpenRouter Chat Model 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1250, 500],
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "maxTokens": 8192,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "PLACEHOLDER",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000008",
      "name": "Code: Save extracted-signal.md",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst outputDir = $('Code: Create Output Folder').item.json.outputDir;\nconst signalText = $json.text;\nfs.writeFileSync(`${outputDir}/extracted-signal.md`, signalText, 'utf8');\nreturn { json: { signalText, outputDir, datePrefix: $('Code: Create Output Folder').item.json.datePrefix } };"
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000009",
      "name": "LLM: Community Post",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1750, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.signalText }}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are preparing a polished community post based on extracted insights from a weekly AI community call (transcript and chat log combined).\n\nYour audience is community members who may not have attended live but want the most useful value from the call.\n\nIMPORTANT: This post will be published on Skool, which does NOT render markdown. Output PLAIN TEXT only. Do NOT use markdown syntax like # headers, ** bold **, - bullet lists, or [links](url). Instead use emoji for section headers and visual structure.\n\nTurn the extracted material below into a concise, polished, community-friendly post.\n\nCRITICAL: You MUST output sections in EXACTLY this order — do not rearrange them:\n\n1. 📝 SUMMARY\nWrite one short paragraph summarizing the overall value and themes of the call.\n\n2. 💡 KEY INSIGHTS\nSummarize the strongest practical or strategic takeaways.\n\n3. ❓ KEY Q&A\nPresent the most useful question-and-answer pairs clearly and concisely.\n\n4. 🛠️ TOOLS AND CONCEPTS MENTIONED\nList important tools, frameworks, and concepts with short explanations.\n\n5. 📎 SHARED RESOURCES\nPresent the most useful links and resources in a clean, easy-to-scan way. Write URLs as plain text.\n\n6. 🔄 FOLLOW-UPS WORTH EXPLORING\nList open questions or topics worth revisiting if relevant.\n\nRules:\n- Output PLAIN TEXT only — no markdown formatting whatsoever\n- Use emoji for section headers (as shown above)\n- Output sections in the numbered order above — never reorder them\n- Use line breaks and spacing for readability\n- Keep the post concise and skimmable\n- Preserve only the strongest value\n- Use polished, natural, professional language\n- Do not invent any information not present in the extracted analysis\n- Omit any section that has little or no useful content\n- Make the result feel ready to copy-paste and post with minimal editing\n\nHere is the extracted analysis:"
            }
          ]
        }
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000010",
      "name": "OpenRouter Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1750, 500],
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "maxTokens": 8192,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "PLACEHOLDER",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000011",
      "name": "Code: Save community-post.md",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst outputDir = $('Code: Create Output Folder').item.json.outputDir;\nconst communityPostText = $json.text;\nfs.writeFileSync(`${outputDir}/community-post.md`, communityPostText, 'utf8');\nreturn { json: { communityPostText, outputDir, datePrefix: $('Code: Create Output Folder').item.json.datePrefix } };"
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000012",
      "name": "LLM: Compress Post",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [2250, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.communityPostText }}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "Condense the community post below by about 30 to 40 percent while preserving all high-value information.\n\nIMPORTANT: This post will be published on Skool, which does NOT render markdown. Output PLAIN TEXT only. Do NOT use markdown syntax like # headers, ** bold **, - bullet lists, or [links](url). Keep the same emoji-based section headers and plain text formatting as the input.\n\nCRITICAL: You MUST preserve the section order EXACTLY as it appears in the input — do not rearrange sections:\n1. 📝 SUMMARY\n2. 💡 KEY INSIGHTS\n3. ❓ KEY Q&A\n4. 🛠️ TOOLS AND CONCEPTS MENTIONED\n5. 📎 SHARED RESOURCES\n6. 🔄 FOLLOW-UPS WORTH EXPLORING\n\nGoals:\n- make it easier to skim\n- remove repetition\n- keep links, useful Q&A, and strongest insights\n- preserve a professional, community-friendly tone\n- maintain plain text formatting with emoji section headers\n- preserve the section order listed above\n\nDo not remove important resources or key takeaways.\n\nHere is the draft post:"
            }
          ]
        }
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000013",
      "name": "OpenRouter Chat Model 3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [2250, 500],
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "maxTokens": 8192,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "PLACEHOLDER",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000014",
      "name": "Code: Save community-post-compressed.md",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst outputDir = $('Code: Create Output Folder').item.json.outputDir;\nconst compressedText = $json.text;\nfs.writeFileSync(`${outputDir}/community-post-compressed.md`, compressedText, 'utf8');\nreturn { json: { compressedText, outputDir, datePrefix: $('Code: Create Output Folder').item.json.datePrefix } };"
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000015",
      "name": "Code: Calculate Next Tuesday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 300],
      "parameters": {
        "jsCode": "const datePrefix = $json.datePrefix;\nconst callDate = new Date(datePrefix + 'T12:00:00Z');\nconst dayOfWeek = callDate.getDay();\nconst daysUntilTuesday = (2 - dayOfWeek + 7) % 7 || 7;\nconst nextTuesday = new Date(callDate);\nnextTuesday.setDate(callDate.getDate() + daysUntilTuesday);\n\nconst months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst day = nextTuesday.getUTCDate();\nconst suffix = day === 1 || day === 21 || day === 31 ? 'st' : day === 2 || day === 22 ? 'nd' : day === 3 || day === 23 ? 'rd' : 'th';\nconst formattedDate = `${months[nextTuesday.getUTCMonth()]} ${day}${suffix}`;\nconst inviteDate = `${nextTuesday.getUTCFullYear()}-${String(nextTuesday.getUTCMonth()+1).padStart(2,'0')}-${String(day).padStart(2,'0')}`;\n\nreturn {\n  json: {\n    compressedText: $json.compressedText,\n    outputDir: $json.outputDir,\n    formattedDate,\n    inviteDate,\n    datePrefix\n  }\n};"
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000016",
      "name": "LLM: Weekly Invite",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [3000, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Next call date: Tuesday ' + $json.formattedDate + ' at 6PM ET\\n\\nHere is last week\\'s community post:\\n\\n' + $json.compressedText }}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are writing a weekly invite post for an AI community coaching call. Your job is to create a post that encourages members to submit their questions in advance.\n\nYou will be given the compressed community post from the most recent call. Use it to add unique flavor to this week's invite.\n\nThe post MUST follow this exact structure:\n\n1. Opening hook (1-3 sentences) — A playful, attention-grabbing opener that references a specific highlight, tool, insight, or unresolved question from last week's call. Make it intriguing enough that someone who missed last week wants to catch up.\n\n2. Standard section — Copy EXACTLY as written below, including the emoji:\n\n\ud83d\udcde HOW THE CALLS WORK\nThe calls can run 2+ hours.\nWe want to make sure we're respecting everyone's time. Especially those of you who actually show up.\n\nHere's the structure:\n\ud83d\udc49 Reply to this post with your questions before the call\n\ud83d\udc49 If you submit a question and you're on the call, you go first\n\ud83d\udc49 We work through questions in the order they came in\n\ud83d\udc49 Then we open it up for everyone else\n\nIf you can't make the call but want your question answered, drop it in the comments. We'll get to it. But priority goes to people who are there.\n\nThe goal is simple: if you're taking the time to show up, you shouldn't have to wait behind questions from people who aren't even on the call.\n\n3. Flavor bridge (1-3 sentences) — Reference 2-3 specific unresolved questions, follow-ups, or topics from last week that people might want to continue. Mention people by first name only if they had open questions. Frame it as a warm invitation, not a call-out.\n\n4. Closing section — Copy EXACTLY as written below, but replace [DATE] with the provided date:\n\n\ud83d\udd17 ZOOM LINK (save this)\nhttps://us06web.zoom.us/j/81995207847?pwd=Xe6u6LmIQOmCP5VTnOwWYjDBfZNKGB.1\n\n\ud83d\udcc5 WHEN\nTuesday [DATE] at 6PM ET\n\nLooking forward to seeing you on the call!\n\nRules:\n- Tone: playful, welcoming, energetic — like a community leader who genuinely enjoys these calls\n- Do NOT call out anyone negatively or use inside jokes that would confuse non-attendees\n- Do NOT invent information not present in the community post\n- Keep the opening hook and flavor bridge fresh and different each week\n- The standard section and closing section must be reproduced EXACTLY (no modifications to wording or emoji)\n- Total post length should feel like a quick, easy read — not a wall of text"
            }
          ]
        }
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000017",
      "name": "OpenRouter Chat Model 4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [3000, 500],
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "maxTokens": 8192,
          "temperature": 0.3
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "PLACEHOLDER",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "e1000000-0000-4000-8000-000000000018",
      "name": "Code: Save weekly-invite.md",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst outputDir = $json.outputDir || $('Code: Create Output Folder').item.json.outputDir;\nconst inviteDate = $('Code: Calculate Next Tuesday').item.json.inviteDate;\nconst inviteText = $json.text;\nfs.writeFileSync(`${outputDir}/${inviteDate}-weekly-invite.md`, inviteText, 'utf8');\nreturn { json: { inviteText, outputDir, inviteDate } };"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Code: Validate and Check Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate and Check Partner": {
      "main": [
        [
          {
            "node": "Code: Merge Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge Content": {
      "main": [
        [
          {
            "node": "Code: Create Output Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Create Output Folder": {
      "main": [
        [
          {
            "node": "Code: Save transcript.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Save transcript.txt": {
      "main": [
        [
          {
            "node": "LLM: Extract Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Extract Signal": {
      "main": [
        [
          {
            "node": "Code: Save extracted-signal.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Save extracted-signal.md": {
      "main": [
        [
          {
            "node": "LLM: Community Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Community Post": {
      "main": [
        [
          {
            "node": "Code: Save community-post.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Save community-post.md": {
      "main": [
        [
          {
            "node": "LLM: Compress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Compress Post": {
      "main": [
        [
          {
            "node": "Code: Save community-post-compressed.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Save community-post-compressed.md": {
      "main": [
        [
          {
            "node": "Code: Calculate Next Tuesday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Calculate Next Tuesday": {
      "main": [
        [
          {
            "node": "LLM: Weekly Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Weekly Invite": {
      "main": [
        [
          {
            "node": "Code: Save weekly-invite.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "LLM: Extract Signal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "LLM: Community Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model 3": {
      "ai_languageModel": [
        [
          {
            "node": "LLM: Compress Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model 4": {
      "ai_languageModel": [
        [
          {
            "node": "LLM: Weekly Invite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
